mysql:
  image: mysql
  volumes:
    - /docker/piwik/mysql:/var/lib/mysql
  environment:
    MYSQL_ROOT_PASSWORD: "put_something_random_here"
    MYSQL_DATABASE: "piwik"
    MYSQL_USER: "piwik"
    MYSQL_PASSWORD: "put_something_random_here"
  restart: always
piwik:
  image: juev/piwik
  links:
    - mysql
  cap_add:
    - NET_ADMIN
  ports:
    - "80:80"
  environment:
    PIWIK_MYSQL_USER: "piwik"
    PIWIK_MYSQL_PASSWORD: "put_the_same_random_here"
    PIWIK_RELATIVE_URL_ROOT: "/"
  restart: always
  volumes:
    - /docker/piwik/nginx/conf.d/:/etc/nginx/conf.d
